.itemsbody {background-image: url(https://i.redd.it/2423220nidby.png); background-attachment: fixed;background-size: cover;
background-repeat: no-repeat; 
color: rgb(0, 0, 0); font-family: 'Courier New', Courier, monospace; background-color: lightsalmon;}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
font-family:'Courier New', Courier, monospace;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.menu {
  font-family: 'Courier New', Courier, monospace ; font-size: 250%; }

  .itemheading {font-family: "Saira Stencil One", fantasy;font-size: 450%; text-align: left; text-shadow: 0.5px 0.5px 0.5px #f1f1f1;} 

  .itemslist {font-family: "Lucinda Console", monospace;text-decoration: underline black; font-size: 200%; display: inline;}
   
.food {font-family: 'Courier New', Courier, monospace; color: black; font-weight: bold; font-size: 130%;}

.food a {color: black}
.food a:hover {color: #f1f1f1}

.itemslist2 {text-align: center; font-family: "Lucinda Console", monospace;text-decoration: underline black; font-size: 200%; display: inline;}

.clothing {font-family: 'Courier New', Courier, monospace; color: black; font-weight: bold; font-size: 130%; text-align: center;}
.clothing a {color: black;}
.clothing a:hover {color: #f1f1f1;}

.flextitle {display: flex; flex-flow: row wrap; justify-content: space-between; width: 550px; }

.flexitems {display: flex; flex-flow: row wrap;justify-content: space-around; width: 620px;}


